header {
    background-color: #f268e0;
}
.banner {
    background-image: url(../img/amor/banneramor.jpeg);
}
h1{
    background-color: #f268e0;
}
.flexfigure{
    background-color: #f268e0;
}