header {
    background-color: #ff7a00;
}

.banner {
    background-image: url(../img/sorpresa/bannersorpresa.jpg);
    background-position: center -400px;
}

h1 {
    background-color: #ff7a00;
}

.flexfigure {
    background-color: #ff7a00;
}