header {
    background-color: #05c93c;
}

.banner {
    background-image: url(../img/asco/bannerasco.jpg);
}

h1 {
    background-color: #05c93c;
}

.flexfigure {
    background-color: #05c93c;
}